
  .wrapperContainer-dark{
    background-color: #2a2a2a;
  }
  .wrapperContainer-light{
    background-color: #fafafa;
  }
  .wrapperContainer-dark2{
    background-color: blue;
  }
  .container{
    max-width: 127.6em;
    margin: auto;
  }
  .header{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    color: #fafafa;

  }
  
  .header_nav ul {
   list-style-type: none;
   gap: 0.6rem;    display: flex;

  }
  .header_nav li{
    padding: .75em 1.15em;
    border: solid 1px;
  }
